body {
  margin: 0;
  /* font-family: 'Rubik', sans-serif; */
  /* font-family: 'Barlow Semi Condensed', sans-serif; */
  font-family: 'Assistant', sans-serif;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: deepskyblue;
}
